<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<head>
    <meta charset="UTF-8">
    <title>Angular Application Testing</title>
</head>
<body>
<div ng-app="app" ng-controller="MainController as main">
    <label>Number 1:</label>
    <input type="number" ng-model="main.num1" /> <br />
    <label>Number 2:</label>
    <input type="number" ng-model="main.num2" /> <br />
    <hr>
    <h1> {{main.num1}} + {{main.num2}} = {{main.num1 + main.num2}}</h1>
</div>

</body>
</html>

<script src="app.js"></script>
</body>
</html>