#outPopUp {
    position: absolute;
    width: 150px;
    z-index: 15;
    top: 15%;
    left: 50%;
    margin: -100px 0 0 -150px;
}

#search-txt {
    position: absolute;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    top: 40%;
    left: 45.9%;
    margin: -100px 0 0 -150px;
}

#rounded {
    position: absolute; align-content: center;
    top: 45%;
    left: 35%;
    margin: -100px 0 0 -150px;
    border-radius: 25px;
    border: 1px solid black;
    padding: 20px;
    width: 750px;
    height: 65px;
    font-family: 'Rubik', sans-serif;
    font-size: 40px;

}

#container {
    position: absolute;
    top: 50%;
    left: 25%;
    width: 900px;
    height: 950px;
    overflow-x:auto;
    font-fam100ily: 'Rubik', sans-serif;
    font-size: 20px;
    color: dimgray;

}

#product {

    padding: 15px;
    text-align: left;
}

#price {


    padding: 15px;
    text-align: left;
}

#url {


    padding: 15px;
    text-align: left;
}

th, td {

    border-bottom: 1px solid #ddd;


}

#tbl-labels {

    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    color: lightgray;
}


#tr-items:hover {
    background-color: #231f20;
    color: azure;
}

#small {
    padding:20px;
    font-family: Verdana;
    font-size: 10px;
    color: coral;
}